.col{
    background-color: gray;
    padding: 1%;
    border: 1%;
}
.row{
    background-color: gray;
    /* background-image: url(nhlStreams.jpeg); */
    
}
.h1{
    background-color: gray;

}
    