<h1>More Categories</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/nbaStreams.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NBA STREAMS</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/nhlStreams.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NHL STREAMS</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/wvu.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CFB STREAMS</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/nflStreams1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NFL STREAMS</h5>
        </div>
      </div>
    </div>
  </div>