<div class="row">
  <h1 style = "margin-bottom: -20px;">More Categories</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/nbaStreams.jpeg" class="card-img-top" alt="{{link}}">
        <div class="card-body">
          <h5 class="card-title">NBA {{description}}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/nhlStreams.jpeg" a routerLink ="nhlstreams" class="card-img-top" alt="{{link}}">
        <div class="card-body">
          <h5 class="card-title">NHL {{description}}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/wvu.jpeg" class="card-img-top" alt="{{link}}">
        <div class="card-body">
          <h5 class="card-title">CFB {{description}}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/nflStreams1.jpg" class="card-img-top" alt="{{link}}">
        <div class="card-body">
          <h5 class="card-title">NFL {{description}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>