
<ul class="list-group" style = >
    <li class="list-group-item" >
        <div class="row flex-row d-flex" >
            
            <div class="col d-flex"   style= " margin-left: 20px;">
                <div class = "sport" style="width: 50px"><span class = "">{{Sport}}</span></div>
                <div class="vl" style="height:25px;margin-left: 10px;margin-right: 10px;"></div>
                <span class="teams"><a href={{Link}} class="normal-link" target="_blank" title="Visit Site">{{Teams}}</a></span>
            </div>
            <div class="col-1 d-flex justify-content-end" style = "max-height: 25px;">
                <span class="badge rounded-pill" style="background-color:rgb(235, 235, 235); font-weight: 600;color: black;">{{Date}}</span>
                <p class="arrow">></p>
            </div>
            
        </div>
    </li>
</ul>
