<app-navbartest></app-navbartest>
<h1> ADMIN PAGE</h1>
<div class = "background">

    <div class ="container">
        <h2>Add Upcoming Game; 'add game' does not reset when clicked, but your game is still added</h2>
        
        <div class="row">
            <div class="col-8">
                <form #postForm="ngForm" (ngSubmit)="addGame(postForm.value)">
                    <div class="input-group">
                        <span class="input-group-text">Sport</span>
                        <input type="text" class="form-control" required ngModel name="Sport">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Teams</span>
                        <input type="text" class="form-control" required ngModel name="Teams">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Date</span>
                        <input type="text" class="form-control" required ngModel name="Date">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Link</span>
                        <input type="text" class="form-control" required ngModel name="Link">
                    </div>

                    <button class="btn btn-light" style = margin-top:2% type="submit" [disabled]="!postForm.valid" >
                        Add Game
                    </button>
                    <button class="btn btn-light" style = margin-top:2%;margin-left:2%;   routerLink=""  routerLinkActive="active">
                        Return to Home
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>