<nav class="navbar navbar-dark" style = "background-color : rgb(223, 2, 2);">
  <head></head>
    
    <div class="container-fluid">
      <a routerLink = '/home' routerLinkActive="active"  class="navbar-brand" href="#"  > <img src="assets/se.png" alt="Streameast" id = "Streameast"> </a>
     
      <ul class="nav-item">
        <a routerLink= "/mlbstreams" routerLinkActive = "active" class="nav-link" href="#" id = "MLB">MLB</a>
      </ul>
      <ul class="nav-item">
        <a routerLink= "/nbastreams" routerLinkActive="active" class="nav-link" href="#" id = "NBA">NBA </a>
      </ul>
      <ul class="nav-item">
        <a routerLink = "/nhlstreams" routerLinkActive="active" class="nav-link" href="#" id = "NHL">NHL </a>
      </ul>
      <ul class="nav-item">
        <a routerLink = "/nflstreams" routerLinkActive="active" class ="nav-link" href="#" id = "NFL">NFL</a>
      </ul>
      <ul class="nav-item">
        <a routerLink = "/cfbstreams" routerLinkActive="active" class ="nav-link" href="#" id = "CFB">CFB</a>
      </ul>


    
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
           OTHER
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a routerLink = "/NCAABasketball" routerLinkActive="active" class ="nav-link" href="#" id = "NCAA Basketball">NCAA Basketball</a> </li>
            <li><a routerLink = "/Formula1" routerLinkActive="active" class ="nav-link" href="#" id = "Formula1">Formula1</a></li>
            <li><a routerLink = "/Boxing" routerLinkActive="active" class ="nav-link" href="#" id = "Boxing">Boxing</a></li>
            <li><a routerLink = "/UFC" routerLinkActive="active" class ="nav-link" href="#" id = "UFC">UFC</a></li>
          </ul>
        </ul>
      


      <ul class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Multi Stream &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </ul>


    <button type="button" class="btn btn-dark" routerLink="" routerLinkActive="active" style="background-color:rgb(24, 24, 24)">Sign In</button>
    <button type="button" class="btn btn-dark" routerLink="" routerLinkActive="active" style="background-color:rgb(24, 24, 24)">Register</button>
    
      
      



    </div>
    

  </nav>