 .nav-item{
    
    padding-top: 15px;
    padding-right: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    padding-left: 15px;
}
.navbar-brand{
  
    margin-top: -20px;
    margin-bottom: -16px;
    margin-right: -10px;
    margin-left: -20px;
      
}
.navbar {
    height: 68px;
}
.btn-dark:hover{
    cursor: pointer;
}
.nav-link:hover{
    cursor:pointer
}