h1{
    background-color: rgb(42, 42, 42);
    color: rgba(255, 255, 255, 0.906);
    margin: auto;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
    font-family: Formula1-Wide_web;
}
h2{
    background-color: rgb(65,65,65);
    color:white;
    font-size: 40px;
    margin: auto;
    padding-top: 4%;
    margin-bottom:-30px;
    padding-left: 150px;
    font-family:'Formula1-Wide_web';
}
.background{
    background-color: rgb(42, 42, 42);
    padding-bottom:10%;
}
hr{ 
    padding-bottom: 200px;
}
.about{
    padding: 2%;
    text-align:right;
    background-color: white;
    
}
.container{
    border-radius:500px;
    padding: 5px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    padding-bottom:1%;
}