<app-navbartest></app-navbartest>

<!-- <router-outlet></router-outlet> -->

<app-upcoming-nav-bar></app-upcoming-nav-bar>

<h1> LIVE GAMES </h1>
<div class = "background">

<!-- container with list group here --> 
<div class="container"style = >
    
    <!-- <div *ngFor="let link of links"> -->

    <div *ngFor = "let n of games">
        <app-list-group class = "c1" Sport = {{n.Sport}} Teams = {{n.Teams}} Date = "{{n.Date}}"></app-list-group>
    </div>

    </div>
</div>


<!-- cards here -->
<div class="row" style = "background-color: rgb(65, 65, 65);">
   
    <h2>More Categories</h2>
    <div class = "row row-cols-1 row-cols-md-2 g-4" style = "padding-left:10%; padding-right:10%"> 
   
    <div *ngFor = "let card of cards">
        <app-cards class = "c1" Img = {{card.Img}} Description = {{card.Description}} Link = "{{card.Link}}"></app-cards>
    </div>
    <app-popup class = "d-inline-flex p-2"></app-popup>
 
</div>
<div class ="container" style = "background-color: white; text-align: right;">
<div class = "ABOUT">  <a routerLink = "./about" routerLinkActive="active" class ="nav-link" href="#" id = "about">About</a>
</div>
</div>