.col{
    /* background-color: gray; */
    padding: 1%;
    border: 1%;
    
}
.row{
    background-color: rgb(42, 42, 42);
 
}
.h1{
    background-color: rgb(42, 42, 42);

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-decoration-style: solid;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
  }
 
  .card-img-top{
    filter: brightness(50%);
  }
 img{
    border-radius: 5px;
 }
.card :hover{
    cursor:pointer;
 }