<div class="container">
<ul class="list-group">
    <li class="list-group-item">
        <div class="row flex-row d-flex">
            <div class="col d-flex " style= " margin-left: 20px;">
                <div style="width: 50px"><span class = "">NBA</span></div>
                <div class="vl" style="height:inherit;margin-left: 10px;margin-right: 10px;"></div>
                <span>San Antonio Spurs vs Miami Heat</span>
            </div>
            <div class="col-1 d-flex justify-content-end">
                <span class="badge bg-primary rounded-pill">2/23/10</span>
            </div>
        </div>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row flex-row d-flex">
            <div class="col d-flex ;" style= " margin-left: 20px;">
                <div style="width: 50px"><span class = "">Soccer</span></div>
                <div class="vl" style="height:inherit;margin-left: 10px;margin-right: 10px;"></div>
                <span>Juventus vs Real Madrid</span>
            </div>
            <div class="col-1 d-flex justify-content-end">
                <span class="badge bg-primary rounded-pill">2/23/10</span>
            </div>
        </div>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row flex-row d-flex">
            <div class="col d-flex ;" style= " margin-left: 20px;">
                <div style="width: 50px"><span class = "">NFL</span></div>
                <div class="vl" style="height:inherit;margin-left: 10px;margin-right: 10px;"></div>
                <span>Pittsburgh Steelers vs Miami Dolphins</span>
            </div>
            <div class="col-1 d-flex justify-content-end">
                <span class="badge bg-primary rounded-pill">2/23/10</span>
            </div>
        </div>
    </li>
</ul>
</div>