.list-group{
    border-radius: 5px;
    border-color: solid black;
    border-spacing: 5px;
    text-size-adjust: 10px;
    border-style: double;
    border-style: ridge;
    text-align: left;
    text-overflow: ellipsis ;
    margin: .1%;
    background-color: rgb(229, 227, 227);

    }
.vl{
    border-left: 6px solid lightcoral;
     height: 15px;
     border-radius: 1px;
}
.sport{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.div{
    padding: 30px ;
}
.container{

    background-color: rgb(72, 71, 71);
    
}
.list-group-item{
    margin:.2%;
}