<div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        NBA <div class = "vl"></div>San Antonio Spurs vs Miami Heat
      <span class="badge bg-primary rounded-pill">2/23/10</span>
    </li>
</ul>
 <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        NBA <div class = "vl"></div>Boston Celtics vs Miami Heat
     <span class="badge bg-primary rounded-pill">2/23/11</span>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        NBA <div class = "vl"></div>Dallas Mavericks vs Miami Heat
    <span class="badge bg-primary rounded-pill">2/23/12</span>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-left">
    CFB <div class = "vl"></div>West Virginia vs Texas
    <span class="badge bg-primary rounded-pill">2/23/13</span>
    </li>

</ul>
</div>